<main class="main">
    <section class="container-info">
        <h3>Artistas Populares</h3>
        <article class="container-detail">
            <img src="/assets/mykeTowers.jpg" alt="Myke Towers Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Myke Towers</h5>
            <p>Artista</p>
        </article>
        <article class="container-detail">
            <img src="/assets/saiko.jpg" alt="Saiko Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Saiko</h5>
            <p>Artista</p>
        </article>
        <article class="container-detail">
            <img src="/assets/karolG.jpg" alt="karolG Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>karolG</h5>
            <p>Artista</p>
        </article>
        <article class="container-detail">
            <img src="/assets/badBunny.jpg" alt="badBunny Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Bad Bunny</h5>
            <p>Artista</p>
        </article>
        <article class="container-detail">
            <img src="/assets/feid.jpg" alt="feid Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Feid</h5>
            <p>Artista</p>
        </article>
        <article class="container-detail">
            <img src="/assets/alejandro.jpg" alt="alejandro Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Rauw Alejandro</h5>
            <p>Artista</p>
        </article>
    </section>
    <section class="container-info">
        <h3>Albumes Populares</h3>
        <article class="container-detail">
            <img src="/assets/sakura.jpg" alt="sakura">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Sakura</h5>
            <p>Saiko</p>
        </article>
        <article class="container-detail">
            <img src="/assets/lastDance.jpg" alt="último baile">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>El último Baile</h5>
            <p>Trueno</p>
        </article>
        <article class="container-detail">
            <img src="/assets/veranoSinTi.jpg" alt="veranoSinTi">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Verano sin ti</h5>
            <p>Bad Bunny</p>
        </article>
        <article class="container-detail">
            <img src="/assets/deiV.jpg" alt="Dei V">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Quién es Dei V</h5>
            <p>Dei V</p>
        </article>
        <article class="container-detail">
            <img src="/assets/seraBonito.jpg" alt="seraBonito">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Mañana será bonito</h5>
            <p>Karol G</p>
        </article>
        <article class="container-detail">
            <img src="/assets/quieroEstar.jpg" alt="Quiero estar">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Donde quiero estar</h5>
            <p>Quevedo</p>
        </article>
    </section>
    <section class="container-info">
        <h3>Emisoras Populares</h3>
        <article class="container-detail">
            <img src="/assets/coldPlay.jpg" alt="Radio Cold Play">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Radio ColdPlay</h5>
            <p>Radio</p>
        </article>
        <article class="container-detail">
            <img src="/assets/karolGradio.jpg" alt="karolGRadio">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Radio KarolG</h5>
            <p>Radio</p>
        </article>
        <article class="container-detail">
            <img src="/assets/ardeBogota.jpg" alt="ardeBogota radio">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Radio Arde Bogotá</h5>
            <p>Radio</p>
        </article>
        <article class="container-detail">
            <img src="/assets/estopa.jpg" alt="estopa">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Radio Estopa</h5>
            <p>Radio</p>
        </article>
        <article class="container-detail">
            <img src="/assets/badBunny2.jpg" alt="feid Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Radio Bad Bunny</h5>
            <p>Radio</p>
        </article>
        <article class="container-detail">
            <img src="/assets/relsB.jpg" alt="alejandro Pic">
            <img class="play" src="/assets/play.png" alt="play logo">
            <h5>Radio Rels B</h5>
            <p>Radio</p>
        </article>
    </section>
</main>
